
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family:'Roboto', 'sans-serif';
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.st-key-title{
    font-weight: 100;
    font-style: normal;
    text-align: center;
    font-family:'Roboto';
    font-size: 100px;
}



