
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family:'Roboto', 'sans-serif';
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#imdb-data-insights-and-movie-recommender-by-kevin-tran{
    font-size: 2rem;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-family:'Roboto';
    
}

p{
    font-weight:200;
    text-align: center;
    font-size:1rem;
}

.st-ak\ st-al\ st-bd\ st-be\ st-bf\ st-as\ st-bg\ st-bh\ st-ar\ st-bi\ st-bj\ st-bk\ st-bl{
    background-color: aqua;
    color:white;
}

.st-key-sel input:focus{
    border: 2px solid red;
    
}




